<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:#f4b342">

<h1 style="text-align:center">Curriculum Vitae</h1>

<div id="basic-information" style="text-align:center">

    <h2>Information</h2>
    <p>Name : Muhammad Ardivan Satrio Nugroho</p>
    <p>Birthdate : 14 Agustus 1999</p>
    <p>Birthplace : Jakarta</p>
    <p>Address : Jalan Rawajati Barat V, no.26, Jakarta Selatan</p>

</div><hr>

<div id="education" style="text-align:center">

    <h2>Education</h2>

    <div class="media-body">
        <h4 class="media-heading">Universitas of Indonesia</h4>
        <p>Undergraduate Student, Faculty of Computer Science</p>
        <p>Expected graduation 2017 – 2021</p>
    </div>


    <div class="media-body">
        <h4 class="media-heading">SMAN 28 Jakarta</h4>
        <p>Natural Sciences</p>
        <p>2014 – 2017</p>
    </div>


</div><hr>

<div id="description" style="text-align:center">
    <h2>About me</h2>
    <p>Seorang pembelajar yang ingin terus belajar terutama di dunia teknologi.<br>
        Senang dan tertarik dengan hal Free Open Source dan software development.<br>
        Berharap menjadi seseorang yang lebih baik dari hari sebelumnya. <br>
        Keep it going!</p>
</div>
</body>
</html>
